{% extends 'base.html' %}

{% block title_head %}
<head>crea tu animal aqui</head>
{% endblock title_head %}


{% block h1_header %}
<h1>crea tu animal</h1>
{% endblock h1_header %}


{% block contenido  %}
,<form action="{% url 'inicio:animal' %}"method="POST">
    {% csrf_token %}
    <p>
        
        
        ingrese nombre:
        <input type="text" name='nombre'>

    </p>
    <p>

        ingrese edad:
        <input type="numbers" name='edad'>




    </p>




   
    <button>crear</button>




</form>
{% endblock contenido %}