
{% extends 'genericos/base.html' %}

{%block h1_header%}
<h1>listado de blogs</h1>
{%endblock h1_header%}

{% block contenido %}
<p>

  <form action={%url 'inicio:blogs'%}>

    {{formulario}}
    <button>modificar</button>
  </form>
</p>
   {% for blog in lista_blogs %}
   <ul>
      <li> <button type="button"><a href="#"> nombre:{{ blog.nombre }} -descripcion {{ blog.descripcion_contenido }}</a></button>  </li>
      {{blog.id}}
      <button>
        <a class="navbar-brand" href={% url "inicio:modificar_blog" blog.id%}>modificar</a>
      </button>
  </ul>
  {% endfor %}

{% endblock contenido %}


