{% extends 'base.html' %}


{% block contenido %}


 <a class="navbar-brand" href="{% url 'inicio:eliminar_auto' 2 %}">eliminar auto</a>
 <a class="navbar-brand" href="{% url 'inicio:modificar_auto' 2 %}">modificar auto</a>


  <h1>Lista de autos</h1>
  <ul>
    {% for auto in lista_autos %}
      <li>{{ auto.nombre }} - {{ auto.nombre_del_auto }} - {{ auto.kilometros_recorridos }} - {{ auto.detalles_auto }}</li>
      <button>
        <a class="navbar-brand" href="{% url 'inicio:modificar_auto' %}">modificar</a>
      </button>
      {{auto.id}}
    {% endfor %}
  </ul>
{% endblock %}