{% extends 'base.html' %}

{% block title_head %}
<head>animales</head>
{% endblock title_head %}


{% block h1_header %}
<h1>listado de animales</h1>
{% endblock h1_header %}


{% block contenido  %}
<li>
 Nombre: {{animal.nombre}}  Edad: {{animal.edad}}
</li>
{% endblock contenido %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   