
<!-- {% extends 'base.html' %}

{% block title_head %}
<head>crea tu animal aqui</head>
{% endblock title_head %}


{% block h1_header %}
<h1>crea tu animal</h1>
{% endblock h1_header %}


{% block contenido  %}
,<form action="{% url 'inicio:animal' %}"method="POST">
    {% csrf_token %}
    {{formulario}}
   
<button>crear</button>


</form>
{% endblock contenido %} --

otra version

{% extends 'base.html' %}

{% block title_head %}
<head>crea tu animal aqui</head>
{% endblock title_head %}


{% block h1_header %}
<h1>crea tu animal</h1>
{% endblock h1_header %}


{% block contenido  %}
,<form action="{% url 'inicio:animal' %}"method="POST">
    {% csrf_token %}
    <p>
        
        
        ingrese nombre:
        <input type="text" name='nombre'>

    </p>
    <p>

        ingrese edad:
        <input type="numbers" name='edad'>




    </p>




   
    <button>crear</button>




</form>
{% endblock contenido %}


lista

{% extends 'base.html' %}

{% block title_head %}
<head>animales</head>
{% endblock title_head %}


{% block h1_header %}
<h1>listado de animales</h1>
{% endblock h1_header %}


{% block contenido  %}
{% for animal in animales %}

<li>
    Nombre: {{animal.nombre}}  Edad: {{animal.edad}}
</li>


{% endfor %}

{% endblock contenido %} 




#  RECTA FINAL


  modificar algo

{% extends 'base.html' %}

{% block title_head %}
<head>venta de vehiculos</head>
{% endblock title_head %}

{% block h1_header %}
<h1>indica tu vehiculo</h1>
{% endblock h1_header %}

{% block contenido %}

<form action="{% url 'inicio:modificar_auto' id_autos %}" method="POST">


  {% csrf_token %}
  <table>
    {{formulario}}
  </table>
  <button>modificar</button>
</form>
{% endblock contenido %}




  crear algo 



  {% extends 'base.html' %}

{% block title_head %}
<head>venta de vehiculos</head>
{% endblock title_head %}

{% block h1_header %}
<h1>indica tu vehiculo</h1>
{% endblock h1_header %}

{% block contenido %}
  <form method="POST">
    {% csrf_token %}
    <p>Nombre del propietario: <input type="text" name='nombre'></p>
    <p>Nombre del vehículo: <input type="text" name='nombre_del_auto'></p>
    <p>Kilómetros recorridos: <input type="number" name='kilometros_recorridos'></p>
    <p>Detalles del vehículo: <input type="text" name='detalles_auto'></p>
    <button type="submit">Crear</button>
  </form>
{% endblock contenido %}